.button {
  padding: 15px 60px;
  border: none;
  font-weight: bold;
  color: #fff;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
      // box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
      // 7px 7px 20px 0px rgba(0,0,0,.1),
      // 4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
  background: linear-gradient(0deg, $color 0%, $color 100%);
  margin: 50px 0;
}
.button:hover {
  color: $color;
  background: transparent;
  box-shadow: none;
}
.button:before,
.button:after{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: $color;
  // box-shadow:
  //  -1px -1px 5px 0px #fff,
  //  7px 7px 20px 0px #0003,
  //  4px 4px 5px 0px #0002;
  transition:  400ms ease all;
}
.button:after{
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.button:hover:before,
.button:hover:after{
  width: 100%;
  transition: 800ms ease all;
}